*.o
*.bin
*.elf
*.img
*.iso

kernel/*.o
boot/*.o

orangeos.img
orangeos.bin
kernel.bin

*~
*.swp
*.swo

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db

build/
bin/
obj/

include/kernel/version_build.h
.build_number
